<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.yurwisher.dota2.system.mapper.EnterprisePortalInfoMapper">
    <update id="updateActivateWhichIdNotEqual">
        update enterprise_portal_info set activated = #{activated} where id != #{id}
    </update>

    <select id="list" resultType="pers.yurwisher.dota2.system.pojo.to.EnterprisePortalInfoTo">
        select * from enterprise_portal_info
        <where>
            <if test="qo.remark != null and qo.remark != ''">
                remark like concat('%',#{qo.remark},'%')
            </if>
        </where>
        ORDER BY last_updated desc
    </select>
</mapper>
